/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between; /* Ensures logo and links are evenly spaced */
    align-items: center;
    padding: 5px 50px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo Styling */
  .logo img {
    height: 4em; /* Adjust as needed */
    padding-top: 10px;
  }
  .faq-icon {
    margin-left: 5px;
    vertical-align: middle;

  }
  
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  /* Navbar Links */
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .nav-links li a:hover {
    color: #442e79;
  }
  

  @media (max-width: 480px) {
  .navbar {
    
    padding: 5px 10px;
  }
}